header#header.header
  .container
    .items#h-contacts-container
      .item-h.d-lg-none
        img.icon-h(src="img/soc/phone.png") 
        a.link-tel-small(href="tel: 88127421778") +7 (812)
          span 742-17-78
        span &nbsp;,&nbsp;
        a.link-tel-small(href="tel: 89211876969") +7 (921)
          span 187-69-69
      span.sep.d-lg-none
      .item-h
        img.icon-h(src="img/soc/marker.png") 
        a.link-societ(href="#") Санкт-Петербург, пр. Полюстровский, д. 59, Смольный институт РАО
      span.sep
      .item-h
        img.icon-h(src="img/soc/e-mail.png") 
        a.link-societ(href="#") pts-avto2012@yandex.ru
      span.sep
      .item-h
        img.icon-h(src="img/soc/vk.png")  
        a.link-societ(href="#") наша группа в VK

  .menu-h
    nav.container#nav-menu-container
      ul.items
        li.active
          a.icon-home-red(href="#") Главная
        li
          a.icon-edu-red(href="#") Курсы 
        li
          a.icon-kursi-red(href="#") Учебный процесс
        li
          a.icon-edu-red(href="#") Методики
        li
          a.icon-device-red(href="#") Оборудование
        li
          a.icon-job-red(href="#") Трудоустройство
        li
          a.icon-map-red(href="#") Контакты
